/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414; /* Fondo oscuro */
    color: #fff; 
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo inicial del título */

/* Define la animación fadeInUp con una duración de 2 segundos (2000ms) */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.7;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplica la animación con una duración de 2 segundos y un retraso de 0.5 segundos */
h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Tu-Fuente-Personalizada', sans-serif;
    color: #00c3ff;
    background-color: #f2f2f2;
    padding: 20px;
    transform: translateY(-20px) scale(0.7);
    opacity: 0;
    animation: fadeInUp 2s ease 0.5s forwards; /* Ajusta la duración y el retraso */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 195, 255, 0.5);
    transition: background-color 0.3s ease;
}

h1:hover {
    background-color: #fff;
}




/* Estilos de la selección de perfil */
.profile-selection {
    text-align: center;
    margin-top: 100px; /* Espacio para la selección de perfil */
}

.profile {
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.profile img:hover {
    border-color: #ff0000; /* Color del borde al pasar el mouse */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1507738978512-35798112892c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-size: 2000px 1200px; /* Ajusta el tamaño de la imagen a 800px de ancho y 600px de alto */
    color: #333

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.profile-content p {
    font-family: 'Fuente Personalizada', sans-serif; /* Cambiar a la fuente deseada */
    color: #FF0000; 
    font-size: 1.5rem;/* Cambiar al color deseado (#FF0000 es rojo) */
    /* Otros estilos que desees aplicar */
}

/* Estilos de la selección de perfil */
.profile-selection {
    text-align: center;
    margin-top: 100px;
}

.profile {
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.profile img:hover {
    border-color: #ff0000;
}

.profile-btn {
    background-color: transparent;
    border: none;
    color: #ff0000;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.profile-btn:hover {
    color: #333;
}

/* Estilos de la biblioteca (puedes personalizar según tus necesidades) */
.library {
    margin-top: 40px;
    text-align: center;
}

#bookList {
    list-style: none;
    padding: 0;
}

#bookList li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

/* Estilos del footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333; /* Cambiar el color de fondo del footer a gris oscuro */
    color: #fff; /* Cambiar el color del texto del footer a blanco */
}

/* Estilo para todos los títulos <h2> en tu sitio */
/* Estilo inicial del título */
h2 {
    font-family: 'Fuente Personalizada', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease; /* Agrega una transición de color suave */
}

/* Cambia el color cuando se pasa el cursor sobre el título */
h2:hover {
    color: #0078d4; /* Cambia el color cuando el cursor está sobre el título */
}

/* Estilos para los títulos de los libros */




.book-cover { 
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.book-cover:hover {
    transform: rotate(10deg);
}